
.tablerow:nth-child(odd) {
    background-color: #f2f2f2;
  }
  .tablerow:nth-child(even) {
    background-color: #152238;
    color: white;
  }
.leaderboard{
    padding: 5px;
    width:max-content;
    margin-top: 7vh;
   
}

.data{
    width:14vw;
    justify-content: center;
    height: 3vh
    
}