.questno{
    width:15vw;
    text-align: center;
  }
  
  .progressb{
    width:30vw;
    text-align: center;
  }
  
  .attempno{
    width:15vw;
    text-align: center;
  }
  
  .attempb{
    width:15vw;
    text-align: center;
  }
  
  