.qhub{
  overflow-x: hidden;
  margin-bottom: 8vh;
  margin-top: 3vh;
}
.Cards{
    margin-top: -1.7em;
       
  }
  
 
  
.qhubcard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top right, #152238 0%, #152238 100%);
    height: 70%;
  }
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.2);*/
  
.title{
    overflow: hidden;
    height: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    /* background-image: linear-gradient(to top right, #152238 0%, #152238 100%); */
    background-color:#6c6f74;
    margin-bottom:-3vh ;
}

.progress{
    background-image: linear-gradient(to top right, #152238  0%, #031025 100%);
  }

.btn{
    background-image: linear-gradient(to top right, #ff5f6d 0%, #ffc371 100%);
    
  }

.btn:hover{
  background-image: linear-gradient(to top right,  #ffc371 0%, #ff5f6d 100%);

}

.attempt{
    color: #152238;
  }

@media only screen and (max-width: 600px){
  .attempt{
    font-size: 1.5vh;
  }
} 