.our-team {
    padding: 25px 0 40px;
    background: #222b36;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius:5px;
    cursor:pointer;
    margin-top:1vw;
    margin-bottom:3vw;
    color: #ffffff;
    width: 20vw;
  }
.spaceteam{
    height: 5vh;
}
.mar{
    margin-top:2vw;
}
  
  .our-team .picture {
    display: inline-block;
    height: 180px;
    width: 180px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #4d516c;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d516c;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .pos {
    display: block;
    font-size: 15px;
    color: #ffffff;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #4d516c;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #4d516c;
    background-color: #f7f5ec;
  }

  @media(max-width:425px){

    .our-team .picture {
        height:250px;
        width:250px;
    }
    .mar{
        margin-top:15vw;
    }


  }