.sub{
    overflow-x: hidden;
   
}
.quetext{
    
    width: max-content;
    margin-top: -12px;
}
.qcard{
    overflow: hidden;
    color: white;
    height: 50%;
    margin-bottom: 5px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    /* background-image: linear-gradient(to top right, #152238 0%, #152238 100%); */
    background-color:#6c6f74;
}
.btn{
    color: #152238 !important;
}
.table{   
    margin-top: -7px;
    
}
.subtext{
    background: -webkit-linear-gradient(#ff5f6d, #ffc371);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent; 

}

.scard{
    overflow: hidden;
    color: white;
    height: 60%;
    margin: 2px;
    
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top right, #152238 0%, #152238 100%);
}
.btn1{
    margin-top: -2px;
    margin-right: -50px;
}
.space{
    margin-bottom: 10vh;
}
.progbar{
    margin-top: 2.5px;
}

@media only screen and (max-width: 600px) {
    .scard{
        font-size: 12px;
    }
    .qcard{
        font-size: 15px;
    }
    .progbar{
        width: 100px;
    }
    .btn1{
        margin-top: 0px;
        margin-right: 0px;   
        font-size: 10px;
    }
  }