.instruction-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top right, #152238 0%, #152238 100%);
    color: #fff;

}

.instructions{
    color:white;
    
}

.instrtitle{
    font-size: 13vh;
    text-align: center;
    align-items: center;
    margin-top: 4vh;
}

.instrcontent{
    margin-top: 8vh;
    margin-bottom: 6vh;
    text-align: justify;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 3vh;
}
li{
    margin-top: 1vh;
}

.instrbutton{
    font-size: 6vh;
}