.modal-content{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
background-image: linear-gradient(to top right, #222B36 0%, #222B36 100%);
color: white;

}
 .modal-footer{
    border: none  !important
}
/* 
    .mybtn, .mybtn:focus{
        outline: none !important;
        border:none !important;
    
     } */
     
