/* .dbox {
  height: 99vh;
}
/* .cbox {
  border: 1px solid black;
  height: 89.5vh;
} */

/* .main {
  text-align: center;
}

.head {
  text-align: center;
  margin-left: 6rem;
  width: 20em;
}

.head1 {
  margin-left: 6rem;
  width: 20em;
}

.head2 {
  margin-left: 6rem;
  width: 20em;
}

.wid {
  width: 10rem;
  background-color: orange;
  padding: 0.5em;
  border-color: orange;
  cursor: pointer;
}

.form-control:focus {
  border: 2px solid dodgerblue;
}

.rid {
  float: left;
}

.login-card {
  margin-top: 3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.login-card:hover {
  margin-top: 3em;
  transform: scale(1.05);
  /* transform: translateY(-50px); */
/* }

.illustration {
  margin-top: 1em;
  margin-right: -3em;
  z-index: 1;
  padding: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.illustration:hover {
  transform: scale(1.05);
}

.mid {
  margin-bottom: 3em;
  text-align: center;
}   */


/* .cbox {
  border: 1px solid black;
  height: 89.5vh;
} */

/* .container {
  background-image: linear-gradient(to top right, #152238 0%, #152238 100%);
  color: #ff5f6d;
} */

.main {
  text-align: center;
}

.grid-container {
  grid-row-gap: 50px;
}

.head {
  
  text-align: center;
  margin-left: 6rem;
  width: 20em;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.6em;
  outline: none;
  background: none;
  margin-top: 1vh;
}

.head1 {
  
  text-align: center;
  margin-left: 6rem;
  width: 20em;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.6em;
}

.head2 {
  
  text-align: center;
  margin-left: 6rem;
  width: 20em;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.4em;
}

.wid {
  width: 10rem;
  padding: 0.5em;
  background-image: linear-gradient(to top right, #ff5f6d 0%, #ffc371 100%);
  cursor: pointer;
  align-items: center;
}

/*.form-control:focus {
  border: 2px solid black;
}*/

.icon {
  padding-right: 3vh;
  padding-top: 1.5vh;
  background: #6c6f74;
  background: -webkit-linear-gradient(#ff5f6d, #ffc371);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
  text-align: center;
  font-size: 3.2vh;

}

.fields{
  background-color: #152238;
}

.login-card {
  margin-top: 2.3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: #152238;
  color: #ff5f6d;
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
  width:45vw;
  justify-content: center;
}


.illustration {
  margin-top: 8em;
  margin-right: -3em;
  z-index: -1;
  padding: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: #152238;
  height: max-content;
  align-items: center;
  width:30em;
}


.rc2title{
  background: -webkit-linear-gradient(#ff5f6d, #ffc371);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
  /* color:white; */
}




.mid {
  text-align: center;
  color: #ff5f6d 0%, #ffc371 100%;
}

.radio {
  color: #ff5f6d 0%, #ffc371 100%;
  margin-bottom: 2vh;
  align-items:center;
}
