.login {
  text-align: center;
  overflow-y: hidden;
}
#loginbg {
  height: 80vh;
}

.logincard {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 28vw;
  background-image: linear-gradient(to top right, #222b36 0%, #222b36 100%);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.logintitle {
  margin-top: 2vh;
  margin-bottom: 7vh;
  color: #ffffff;
  font-size: 5.5vh;
}
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-color: #4d516c;
  background-color: #222b36;
  outline: none;
  color: #ffffff;
}
input:focus {
  outline: none;
  border-bottom-color: #ffffff;
  transition: 1s;
}
::placeholder {
  color: #a5a1a1;
  font-size: 2.8vh;
}
.logo {
  float: left;
  color: #ffffff;
  margin-left: 1vw;
}
.formField {
  margin-top: 5vh;
}

.formip {
  width: 20vw;
}
.formRadio {
  margin-top: 7vh;
  color: #ffffff;
}

#junior {
  margin-right: 1vw;
  font-size: 3vh;
}
#senior {
  margin-left: 1vw;
  font-size: 3vh;
}
.loginbutton {
  margin-top: 5vh;
  width: 10vw;
}

.loginbutton {
  font-weight: 300;
  border-radius: 2px;
  background-color: transparent;
  border: 3px solid #4d516c;
  padding: 6px 12px;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}
.loginbutton:hover
    /* button:hover*/ {
  outline: 0;
  color: #fff;
}
.loginbutton:active
    /* button:active*/ {
  outline: 0;
  color: #fff;
  transform: scale(0.9);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.btn-slide-up {
  background: linear-gradient(to bottom, transparent 50%, #4d516c 50%);
  background-size: 100% 200%;
  background-position: left top;
}
.btn-slide-up:hover {
  background-position: right bottom;
}

@media only screen and (max-width: 600px) {
  .logincard {
    width: 80vw;
  }
  .loginbutton {
    width: 40vw;
  }
  .formip {
    width: 50vw;
  }
  .logintitle {
    font-size: 4vh;
  }
}

@media only screen and (min-width: 1900px) {
  .logintitle {
    font-size: 3.8vh;
  }
}

@media only screen and (max-width: 768px) and (min-width: 1024px) {
  .logincard {
    width: 40vw;
  }
}
