
 .card-preview{
    width: 16.8vw;
    height: 16.8vh;
    margin-right: 3vw;
    margin-top: 7vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top right, #152238 0%, #152238 100%);
    
 }
 .card-heading, .card-status{
    text-align: center;
    background: -webkit-linear-gradient(#ff5f6d, #ffc371);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    font-size: 3vh;
 }
  .card-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    
  }

  @media only screen and (min-width : 768px) and (max-device-width : 795px) {
    .card-heading{
        font-size:1em;
    }
  }
  @media only screen and (min-width : 990px) and (max-device-width : 1200px) {
    .card-heading{
        font-size:1em;
    }
  }

  @media only screen and (max-width: 768px) {
    .card-preview{
        width:auto;
    }
  }
